<h1>Welcome to X-MEN STUFF</h1>
<%= link_to "Sort Alphabetically", posts_path(:sort => 'title') %>
<%= link_to "Sort by Date", posts_path(:sort => 'date') %>

<ul>
<% @posts.each do |post| %>
  <li><%= link_to post.title, post_path(post) %></li>
<% end %>
</ul>

<p><%= link_to "New Post", new_post_path %></p>
